<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="__ROOT__/Public/css/jquery.treetable.css" />
<link rel="stylesheet" href="__ROOT__/Public/css/jquery.treetable.theme.default.css" />
<link rel="stylesheet" href="__ROOT__/Public/jui/jquery-ui.min.css" />

<script src="__ROOT__/Public/js/jquery-1.10.2.js"></script>
<script src="__ROOT__/Public/jui/jquery-ui.min.js"></script>

<script src="__ROOT__/Public/js/bootstrap.min.js" language="javascript"></script>
<script src="__ROOT__/Public/js/bootswatch.js" language="javascript"></script>
<script src="__ROOT__/Public/js/jquery.treetable.js" language="javascript"></script>

  
<title>jobs - Powered by wujinsheng.</title>
