	<ul class="nav nav-pills" role="tablist">
	  <li role="presentation"<if condition="$control eq 'Index'"> class="active"</if>><a href="{:U('index/index')}">个人中心</a></li>
	  <li role="presentation"<if condition="$control eq 'Resume'"> class="active"</if>><a href="{:U('resume/index')}">我的简历</a></li>
	  <li role="presentation"<if condition="$control eq 'Applyrecord'"> class="active"</if>><a href="{:U('applyrecord/index')}">申请记录</a></li>
	  <li role="presentation"><a href="{:U('visitor/index')}">谁看过我</a></li>
	  <li role="presentation"><a href="{:U('message/index')}">消息提醒</a></li>
	  <li role="presentation"><a href="{:U('account/index')}">帐户设置</a></li>
	</ul>
	<p></p>