<extend name="Base/common" />

<block name="content">
<div class="col-lg-11 col-lg-offset-1">
	<include file="Public/pnav"/>
</div>
<div class="col-lg-7 col-lg-offset-1">

<table class="table table-striped table-bordered">
	<thead>
		<tr><th>简历名称</th><th>更新时间</th><th>默认简历</th><th>简历类型</th><th>操作</th></tr>
	</thead>
	<tbody>
		<volist name="userexpects" id="vo">
		<tr>
			<td>{$vo.title}</td><td>{$vo.update_time}</td><td></td><td></td>
			<td><a href="{:U('edit?id='.$vo['id'])}">编辑</a> <a href="{:U('/home/resume/view?id='.$vo['id'])}">查看</a></td>
		</tr>
		</volist>
	</tbody>
</table>
	
</div>

<div class="col-lg-3">
	<a href="{:U('edit')}" class="btn btn-primary btn-block">创建新简历</a>
</div>

</block>


