<extend name="Base/common" />

<block name="content">
<div class="col-lg-11 col-lg-offset-1">
	<include file="Public/pnav"/>
</div>
<div class="col-lg-7 col-lg-offset-1">



	
	<input name="" type="text" />
	<select name="choose" id="choose" class="jlmc">
	  <option selected="selected">产品经理</option>
	  <option>我的简历2</option>
	</select>

	<hr />
	<div class="detail_line table-responsive">
		<h4>基本信息</h4>
		<table class="table table-bordered">
			<tbody>
				<tr><th>姓名：</th><td>{$userinfo.name}</td><th>性别：</th><td>{$userinfo.sex|userclass_value}</td></tr>
				<tr><th>出生年份：</th><td>{$userinfo.birthday}</td><th>常住地区：</th><td>{$userinfo.city|userclass_value}</td></tr>
				<tr><th>Email：</th><td>{$user.email}</td><th>手机号：</th><td>13111111111</td></tr>
				<tr><th>婚姻状况：</th><td>{$userinfo.marriage|userclass_value}</td><th>状态：</th><td>在职，看看新机会</td></tr>
				<tr><th>关键词：</th><td colspan="3">运营经理 运营总监 市场运营 产品经理 市场营销 PM 项目经理</td></tr>

			</tbody>
		</table>
	</div>
	
	<div class="detail_line table-responsive">
		<h4>求职意向</h4>
		<table class="table table-bordered">
			<tbody>
				<tr><th>期望行业：</th><td></td><th>到岗时间：</th><td></td></tr>
				<tr><th>期望薪水：</th><td>{$userinfo.birthday}</td><th>期望地区：</th><td></td></tr>
				<tr><th>工作性质：</th><td></td><th>能否加班：</th><td></td></tr>
				<tr><th>期望职能：</th><td colspan="3"><select><option>运营经理</option><option>运营总监</option><option> 市场运营</option><option> 产品经理</option><option> 市场营销</option><option> PM 项目经理</option></select></td></tr>

			</tbody>
		</table>
	</div>

	<div class="detail_line table-responsive">
		<h4>教育经历</h4>
		<table class="table table-bordered">
			<tbody>
				<tr><th>字段A</th><td></td><th>字段A</th><td></td></tr>

			</tbody>
		</table>
	</div>	
	
	<div class="detail_line table-responsive">
		<h4>培训经历</h4>
		<table class="table table-bordered">
			<tbody>
				<tr><th>字段A</th><td></td><th>字段A</th><td></td></tr>

			</tbody>
		</table>
	</div>	

	<div class="detail_line table-responsive">
		<h4>专业技能</h4>
		<table class="table table-bordered">
			<tbody>
				<tr><th>字段A</th><td></td><th>字段A</th><td></td></tr>

			</tbody>
		</table>
	</div>	
	
	<div class="detail_line table-responsive">
		<h4>工作经历</h4>
		<table class="table table-bordered">
			<tbody>
				<tr><th>字段A</th><td></td><th>字段A</th><td></td></tr>

			</tbody>
		</table>
	</div>	
	
	<div class="detail_line table-responsive">
		<h4>项目经历</h4>
		<table class="table table-bordered">
			<tbody>
				<tr><th>字段A</th><td></td><th>字段A</th><td></td></tr>

			</tbody>
		</table>
	</div>	
	
	<div class="detail_line table-responsive">
		<h4>证书</h4>
		<table class="table table-bordered">
			<tbody>
				<tr><th>字段A</th><td></td><th>字段A</th><td></td></tr>

			</tbody>
		</table>
	</div>

	<div class="detail_line table-responsive">
		<h4>附加信息</h4>
		<table class="table table-bordered">
			<tbody>
				<tr><th>字段A</th><td></td><th>字段A</th><td></td></tr>

			</tbody>
		</table>
	</div>	
	
	
</div>

<div class="col-lg-3 alert alert-info">
	here put resume check
</div>

</block>


